body {margin: 0;
    padding: 0;
    padding-top: 150px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    align-items: center;}


/*Contact Starts*/
header {
    padding: 1.3rem 5%;
}
.contact-container{
    width: 100%;
    color:#1C3312;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.contact-container h1{
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Open Sans;
    font-size: 75px;
    font-weight: 700;
    line-height: 130.73px;
    text-align: center;
}

.contact-box{
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 4px 60px;
    flex-wrap: column;
}
.contact-left h3{
    color: #315A20;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 54.47px;
    text-align: left;
}
.contact-left h4{
    color: #1C3312;
    font-weight:lighter;
    font-style:normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 32.68px;
    text-align: left;
    width: 69%;
}
.contact-left button {
    border-radius: 26.71px 26.71px 26.71px 26.71px;
    background-color: rgba(49, 90, 32, 1);
    color:rgba(202, 228, 197, 1);
    width:420px;
    height: 115px;
}
.contact-left button p {
    position: relative;
    font-size:18px;
    text-align: left;
    margin: 20px 200px;
    left: 40px;
}
.contact-left button a {
    color:rgba(202, 228, 197, 1);
}

.contact-left button {
    width: 70%;
}
#mailicon{
    position: relative;
    left:-300px;
    top:86px;
    transform: scale(3);
    color: #7BA769
}
.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
}
.input-row{
    justify-content: space-between;
    margin-bottom: 30px;
}
.input-group{
    flex-basis: 45%;
}
.input-group span{
    position: relative;
    left:-200px;
    top:7.5px;
    transform: scale(1.25);}
#mailogo {
    top:-135px;
}
.email{
    display: flex;
    align-items: center;
    background: #315A20;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding: 10px;
    box-sizing: 100%;
    border: none;
    border-radius: 50px;
    width: 100px;
    color: #CAE4C5;
    height: 50px;
    margin-top: 20px;
    text-align: right;
}

input, textarea {
    width: 80%;
    border: 2px solid #1C3312;
    border-radius: 25px;
    padding: 30px;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-top:10px;
    margin-left: -250px;
    box-sizing: border-box;
    font-optical-sizing: auto;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
textarea{
    height:150px;
}

.contact-right button {
    position:relative;
    font-size: 20px;
    width:200px;
    top:-40px;
    left:-60px;
}
.contact-right button:hover {
    background-color:inherit;
    border: 2px solid rgba(202, 228, 197, 1);
    color: rgba(202, 228, 197, 1);
}
.contact-right button:active {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    animation-name: dissolve;
}

.join-box{
    display: flex;
    background: #083358;
}
.join-left{
    flex-basis: 60%;
    padding: 40px 180px;
}
.join-left h3{
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 65.37px;
    text-align: left;
}

.join-left h4{
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 32.68px;
    text-align: left;}
.join-right{
    flex-basis: 60%;
    padding: 40px 60px;
    color: #083358;
    height:350px;}
.join-right button {
    color: rgba(8, 51, 88, 1);
    background-color: rgba(191, 209, 229, 1);
    width:200px;
    font-size: 20px;
    transform: scale(1.25);
    margin: 160px 0px;
}
.join-right button:hover {
    background-color:inherit;
    border: 2px solid rgba(191, 209, 229, 1);
    color: rgba(191, 209, 229, 1);
}
.join-right button:active {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    animation-name: dissolve;
}


/* Media Queries */
@media screen and (max-width: 1107px) {
    header {
        padding: 1.3rem 5%;
    }
    .contact-box {
        flex-direction: column;
        margin-top:150px;
    }

    .contact-left, .contact-right {
        padding: 20px;
        flex-basis: 100%;
        justify-content: center;
        display:inline-block;
        margin-top:-100px;
    }

    .contact-container h1, .contact-container img {
        font-size: 60px;
        line-height: 100px;
        margin-left: 100px;
    }

    .contact-left h3 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;}
    .contact-left h3 {
        position:relative;
        left:50px;
        top:-50px;}
    .contact-left h4 {position:relative;
        text-align: center;
        width:60%;
        font-size: 40px;
        line-height:45px;
        left:250px;
        top:-50px;}
    .email {width:350px;}
    .contact-left button, .contact-right button {
        position:relative;
        font-size: 16px;
        left:380px;
    }

    input, textarea {
        width: 59%;
    }
}

@media screen and (max-width: 768px) {
    .contact-container h1 {
        font-size: 50px;
        line-height: 80px;
    }
    .contact-box, .join-box, .contact-container {
        flex-direction: column;
        margin-top:120px;}

    .contact-left, .contact-right, .join-left, .join-right {
        padding: 20px;
        flex-basis: 100%;
        justify-content: center;
        display:inline-block;
        margin-top:-100px;
    }
    .contact-left h3, .join-left h3 {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        
    }

    .contact-left h4, .join-left h4 {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .join-left h4{
        font-size: 18px;
    }

    .contact-left button, .contact-right button, .join-right button {
        font-size: 14px;
    }

    input, textarea {
        width: 65%;
    }
}

@media screen and (max-width: 480px) {
    .contact-container h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .contact-left h3, .join-left h3 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .contact-left h4, .join-left h4 {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .contact-left button, .contact-right button, .join-right button {
        width: 200px;
        height: 70px;
        font-size: 12px;
    }
    
    input{
        padding: 10;
    }
    
    input, textarea {
        width: 50%;
    }
}

/* Contact Ends */