body {
    margin: 0;
    padding: 0;
    padding-top: 150px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    align-items: center;
}

button{
    display: flex;
    align-items: center;
    background: #CAE4C5;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:15px;
    font-variation-settings:"wdth" 100;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    width: 160px;
    color: #1C3312;
    height: 50px;
    margin-top: 20px;
    justify-content: center;
    transition: all 0.3s ease;
}

/*Home Starts*/
.RightHealthcare, .appstuff, .aboutus {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height:650px;
    margin-top:-30px;
    z-index:1;}
.intro, .RightHealthcare {background-color: rgba(235, 250, 231, 1);}
.RightHealthcare h1 {font-size: 70px;
    transform:scale(0.85);
    font-weight: 800;
    line-height: 95.33px;
    width:70%;
    color: rgba(28, 51, 18, 1);
    text-align: center;
    margin-top:5px;}
.RightHealthcare p {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 32px;
    line-height: 44.8px;
    width:45%;
    margin-top:0;}

.appstuff {height:250px; margin-top:240px;}
.appstuff h3 {color: rgba(12, 74, 127, 1);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: center;}
.appstuff p {color: rgba(0, 0, 0, 1);
    position:relative;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: lighter;
    line-height: 0px;
    margin-top:-10px;
    left:-90px;}
.appstuff button {position:relative;
    font-size:18px;
    border-width: thick;
    border: 2px solid rgba(0, 0, 0, 1);
    background-color:white;
    color:rgba(0, 0, 0, 1);
    top:-70px;
    left:240px;}
.appstuff button:hover {background-color:rgba(0, 0, 0, 0.10);}
.appstuff button:active {animation-timing-function: ease-out;
    animation-duration: 300ms;
    animation-name: dissolve;}
.appstuff a {position:relative;
    display:inline-block;}
.appstuff img {position:relative;
    top:-80px;
    display:inline-block;}
.banner {position:relative;
    display:flex;
    margin-top:100px;}

.aboutus, .aboutus button {background-color: rgba(49, 90, 32, 1);
    font-family:sans-serif;
    position:relative;
    color:white;
    margin-top:0px;}
.aboutus {height:500px;}
.aboutus h2 {position:relative;
    z-index:20;
    font-size: 64px;
    font-weight: 700;
    line-height: 87.16px;
    left:-400px;
    top:120px;}
.aboutus p {font-size: 32px;
    font-weight: normal;
    line-height: 45px;
    text-align: left;
    left:-280px;;
    width:40%;}
.aboutus button {position:relative;
    border: 2px solid white;
    font-size:18px;
    transform:scale(2);
    top:-280px;
    left:270px;}
.aboutus button:hover {background-color:rgba(0, 0, 0, 0.10);
    color:rgba(49, 90, 32, 1);
    background-color: white;}
.aboutus button:active {animation-timing-function: ease-out;
    animation-duration: 300ms;
    animation-name: dissolve;}

.workshopstuff {background-color: rgba(8, 51, 88, 1);
    color:rgba(191, 209, 229, 1);
    display:inline-block;
    width:100%;
    height:600px;
    font-family: "Open Sans", sans-serif;}
.workshopstuff h2 {font-size: 64px;
    font-weight: 700;
    line-height: 102.4px;
    text-align: right;
    margin-top:230px;
    margin-right:200px;}
.workshopstuff p {font-size: 32px;
    font-weight: normal;
    line-height: 50px;
    width:30%;
    text-align: left;
    margin-left:200px;
    margin-top:-220px;}
.workshopstuff button {border: 3.54px solid rgba(191, 209, 229, 1);
    background-color: inherit;
    font-size: 35.38px;
    font-weight: 700;
    width:562px;
    height:92px;
    padding: 17.69px 53.08px 17.69px 53.08px;
    text-align: center;
    color:rgba(191, 209, 229, 1);
    margin-left: 200px;
    margin-top:50px;}
.workshopstuff button:hover {color:rgba(8, 51, 88, 1);
    background-color: rgba(191, 209, 229, 1);}

.workshopstuff button:active {animation-timing-function: ease-out;
    animation-duration: 300ms;
    animation-name: dissolve;}









/*Home Ends*/
