body {margin: 0;
    padding: 0;
    padding-top: 150px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    align-items: center;}

button{
    display: flex;
    align-items: center;
    background: #CAE4C5;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:15px;
    font-variation-settings:"wdth" 100;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    width: 160px;
    color: #1C3312;
    height: 50px;
    margin-top: 20px;
    justify-content: center;
    transition: all 0.3s ease;
    }

.Workshops-Section {margin-top:20px;
    font-family: sans-serif;
    height:auto;
    margin-bottom:-200px;
    top:-30px;
    position:relative;}

.Workshops-Section img {transform:scale(1.5);
    position:relative;
    top:-220px;
    left:-50px;}
.Workshops-Section .collaborateimg {position:relative;
    transform: scale(0.85);
    left:250px;
    top:10px;}
.Workshops-Section h1 {color: rgba(12, 74, 127, 1);
    position:relative;
    top:-220px;
    margin-left: 200px;
    font-size: 96px;
    font-weight: 800;
    line-height: 153.6px;
    text-align: left;}
.Workshops-Section p {color: rgba(0, 0, 0, 1);
    position:relative;
    font-size: 30px;
    font-weight: 100;
    width:68%;
    line-height: 43.58px;
    text-align: left;
    top:-200px;
    left:200px;}

.Why-Workshops {justify-content: center;
    margin-top: 100px;}
.Why-Workshops h3 {color:rgba(12, 74, 127, 1);
    font-size: 48px;
    font-weight: 800;
    line-height: 65.37px;
    position:relative;
    left:-240px;}

.Why-Workshops li {
    font-size: 32px;
    font-weight: 100;
    line-height: 43.58px;
    text-align: left;
    width:73%;
    position:relative;
    top:50px;
    margin-top: 30px;
    margin-left:200px;
}
.Why-Workshops p {font-size: 32px;
    font-weight: 100;
    line-height: 43.58px;
    text-align: left;
    width:72%;
    margin-top:120px;
    margin-left:200px;}
.Why-Workshops .TBC {font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    margin-top:100px;}

.FAQ {
    margin-top:100px;
    background-color: rgba(191, 209, 229, 1);
    padding-bottom: 50px;
}
.FAQ h2 {
    color: rgba(12, 74, 127, 1);
    font-family:serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 72.96px;
    text-align: center;
    margin-left:-240px;
    padding-top:100px;
}
.FAQ h3 {
    color:rgba(103, 138, 168, 1);
    font-family:serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 72.96px;
    text-align: center;
    margin-left:-700px;
    margin-top:40px;
}
.FAQ ul {
    margin: 100px auto;
    width: 1100px;
    padding: 0;
    list-style: none;
}
.FAQ li {margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    background: inherit;
    color:rgba(12, 74, 127, 1);}
.FAQ li label{padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 40px; /*Might edit*/
    cursor: pointer;
    font-family: "Domine", serif;
    font-weight:bolder;
    font-style: lighter;
    font-size: 40px;
    line-height: 50px;}
.FAQ li label span {transform: rotate(90deg);
    color: #323232;
    margin-left: auto;
    padding-left: 10px;}
.FAQ input[type="checkbox"]{display:none;}

.FAQ .accordion-content {padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
    color: #1C3312;
    font-family: "Domine", serif;
    font-style: normal;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 30px;
    line-height: 50px;}
.FAQ input[type="checkbox"]:checked +.accordion-content{max-height: none;
    overflow:hidden;
    max-height: 1000px;
    padding-bottom: 20px;}

/* Media Queries */

@media screen and (max-width: 480px) {
    .Workshops-Section {
        left: -12em;
    }
    .Workshops-Section .brand_img {
        left: 22.5em;
        display: inline-block;
        width: 89px;
        height: 72px;
        margin-top: 11em;
        margin-bottom: 5em;
    }
    .Workshops-Section .collaborateimg {
        left: 9em;
        width: 294px;
        height: 272px;
    }
    .Workshops-Section h1 {
        left: 1.7em;
        justify-content: center;
        display: flex;
        font-size: 3em;
        margin-top: -2em;
        }
    .Workshops-Section p {
        margin-top: 5em;
        left: 12em;
        width: 80%;
        font-size: 20px;
    }

    .Why-Workshops {margin-top: 8em;}
    .Why-Workshops h3 {
        left: 0em;
        font-size: 2.25em;
        }
    .Why-Workshops ul {
        left: -11em;
        top: -4em;
        position: relative;
        }
    .Why-Workshops ul li {
        width: 5;
        width: 90%;
        line-height: 1.4em;
        font-size: 1.25em;
        }
    .Why-Workshops .info {
        width: 80%;
        left: -9em;
        margin-top: 1em;
        position: relative;
        font-size: 1.25em;
        }
    .Why-Workshops .TBC {
        width: 80%;
        left: -5em;
        margin-top: 1em;
        position: relative;
        font-size: 2em;
    }

    .FAQ {
        padding: 0%;
        width:100%;
        margin-bottom: -7em;
        }
    .FAQ h2 {
        left: 6em;
        top: -1.5em;
        position: relative;
        font-size: 3em;
        width: 79%;
        }
    .FAQ h3 {
        position: relative;
        left: 7.5em;
        top: -1em;
        font-size: 3em;
        }
    .FAQ ul {
        top: -6em;
        position: relative;
        left: 1em;
        }
    .FAQ li {
        width: 27.5%;height: auto;
    }
    .FAQ li label {
        height:auto;
        font-size: 1em;
    }
    .FAQ ul li .accordion-content p {
        height:auto;
        font-size: 0.6em;
        display: flexbox;
    }
    .FAQ input {height:auto;}
    
}
@media screen and (max-width: 387px) {
    .Workshops-Section {
        left: -12em;
    }
    .Workshops-Section .brand_img {
        left: 12em;
        display: inline-block;
        width: 89px;
        height: 72px;
        margin-top: 14em;
    }
    .Workshops-Section .collaborateimg {
        left: 9em;
        width: 294px;
        height: 272px;
        top: -150px;
    }
    .Workshops-Section h1 {
        left: 1.7em;
        justify-content: center;
        display: flex;
        font-size: 3em;
        top: -450px;
        }
    .Workshops-Section p {
        left: 12em;
        width: 80%;
        font-size: 20px;
        top: -350px;
        margin-bottom: 5px;
    }
    
}